@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewData["Title"] = "Payment Error";
}

<div class="text-center text-danger" style="margin-top:20%;">
    <h1>Error</h1>
    <h3>An error has occurred during transaction creation. Please try later.</h3>
    <a href="https://justlearnit20201113041152.azurewebsites.net">BACK TO SITE</a>
</div>
