@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewData["Title"] = "Payment Error";
}

<div class="text-center text-danger" style="margin-top:20%;">
    <h1>Error</h1>
    <h3>You don't have any transaction</h3>
    <a asp-action="Index" asp-controller="Home">BACK</a>
</div>
