@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Check Device";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    string userId = httpContextAccessor.HttpContext.Session.GetString("LoggingIn");
}

<div class="row justify-content-center" style="margin-top: 30%;">
    <div class="col-md-5 text-center">
        <h1>Device verification...</h1>
        @if (!string.IsNullOrEmpty(userId))
        {
            <script>
                if (localStorage.getItem('@userId' + '_JustLearnIT')) {
                    window.location.href = "@Url.Action("AcceptLogin", "Access")";
                } else {
                    window.location.href = "@Url.Action("SendLoginPassword", "Access")";
                }
            </script>
        }
        else
        {
            <h1 class="text-danger">Are you lost? :)</h1>
        }
    </div>
</div>