@model JustLearnIT.Models.UserModel

@{
    ViewData["Title"] = "Access";
}

<div class="row align-items-center" style="margin-top:15%">
    <div class="col-md-5">
        <div class="text-center">
            <h1>Sign In</h1>
        </div>
        <form asp-action="Login" asp-controller="Access">
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Sign in" class="btn btn-primary" />
            </div>
            <div class="text-center">
                <text class="text-danger">@ViewBag.LoginErr</text>
            </div>
        </form>
    </div>
    <div class="col-md-1 text-center">
        <hr />
        <text>OR</text>
        <hr />
    </div>
    <div class="col-md-5">
        <div class="text-center">
            <h1>Register</h1>
        </div>
        <form asp-action="Register" asp-controller="Access">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Login" class="control-label"></label>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <input asp-for="Login" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Password" class="control-label"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create account" class="btn btn-primary" />
            </div>
            <div class="text-center">
                <text class="text-danger">@ViewBag.RegisterMessage</text>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
