@model JustLearnIT.Models.UserModel

@{
    ViewData["Title"] = "Access";
    string passwordString = "";
}

<div class="row align-items-center justify-content-center" style="margin-top:7.5%">
    <div class="col-md-4">
        <div class="text-center">
            <h1>Sign In</h1>
        </div>
        <form asp-action="Login" asp-controller="Access">
            <div class="form-group">
                <div class="form-label label-error">
                    <label asp-for="Login" class="control-label"></label>
                    <text class="text-danger">@ViewBag.LoginErr</text>
                </div>
                <input asp-for="Login" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="@passwordString" type="password" class="form-control" />
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Sign in" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-1 text-center">
        <hr />
        <text>OR</text>
        <hr />
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <h1>Register</h1>
        </div>
        <form asp-action="Register" asp-controller="Access">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-label label-error">
                    <label asp-for="Login" class="control-label"></label>
                    <span asp-validation-for="Login" class="text-danger">@ViewBag.RegisterMessage</span>
                </div>
                <input asp-for="Login" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <div class="form-label label-error">
                    <label asp-for="Password" class="control-label"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input asp-for="@passwordString" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <div class="form-label label-error">
                    <label asp-for="Email" class="control-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input asp-for="Email" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create account" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="text-box text-center">
            <h3>Remember!</h3>
            <text>
                Your <strong>LOGIN</strong> should contain at least 4 characters (max. 20). Use letters and digits only!
                <strong>RegularExpression: ^[a-zA-Z0-9]{4,20}$</strong>
            </text>
            <text>
                Your <strong>PASSWORD</strong> should contain at least 6 characters (max. 256). Use letters, digits and special characters. Try to create the longest and hardest password possible!
                <strong>RegularExpression: ^[ -!#-&(-~]{6,256}$</strong>
            </text>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
