@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@model string
@{
    ViewData["Title"] = "Check Device";
    var parms = new Dictionary<string, string>
            {
                { "userId", Model },
                { "password", "" }
            };
}

@if (httpContextAccessor.HttpContext.Session.GetString("TOKEN") == null)
{
    <div class="row justify-content-center" style="margin-top: 20%;">
        <div class="col-md-8">
            <form id="main_form">
                <div class="form-group">
                    <input asp-for="@parms["userId"]" hidden/>
                </div>
                <h8>
                    It looks like the device you are logging from is not trusted. We have sent you an email with special code.
                </h8>
                <div class="form-group">
                    <div class="form-label">
                        <label class="control-label">Code:</label>
                    </div>
                    <input asp-for="@parms["password"]" type="password" class="form-control" />
                </div>
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="OK"
                           asp-all-route-data="parms"
                           asp-action="CheckTrustedDevicePassword" />
                    <p class="text-danger">@ViewBag.Error</p>
                </div>
            </form>
        </div>
    </div>
}
