@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@model string
@{
    ViewData["Title"] = "Check Device";
    Layout = "~/Views/Shared/_LoginAction.cshtml";
    var code = "";
}

@if (httpContextAccessor.HttpContext.Session.GetString("LoggingIn") != null)
{
    <div class="row justify-content-center" style="margin-top: 30%;">
        <div class="text-center">
            <form>
                <div class="col-md-12">
                    <h5>It looks like the device you are logging from is not trusted.</h5>
                    <h7><b>We have sent you an email with special code.</b></h7>
                </div>
                <div class="row justify-content-center" style="margin-top: 30px;">
                    <div class="col-5">
                        <div class="form-group">
                            <input asp-for="@code" type="password" class="form-control" style="text-align:center;" />
                        </div>
                        <input class="btn btn-primary" type="submit" value="OK"
                               asp-route-code="@code"
                               asp-action="CheckTrustedDevicePassword" />
                        <p class="text-danger">@ViewBag.Error</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
