@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
    ViewData["Title"] = "Verify";
}

<div class="text-center" style="margin-top:20%">
    @if (httpContextAccessor.HttpContext.Session.GetString("Verification").Equals("Success"))
    {
        <h1 class="text-success">Account verified successfully!</h1>
        <a asp-action="Index">Back to login page</a>
        httpContextAccessor.HttpContext.Session.Remove("Verification");
    }
    else
    {
        <h1 class="text-danger">Are you lost? :)</h1>
    }

</div>
